[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "moder"]
	path = moder
	url = https://github.com/lhdjung/moder
[submodule "scrutiny"]
	path = scrutiny
	url = https://github.com/lhdjung/scrutiny
