[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "moder"]
	path = moder
	url = https://github.com/lhdjung/moder
[submodule "roundwork"]
	path = roundwork
	url = https://github.com/lhdjung/roundwork
[submodule "scrutiny"]
	path = scrutiny
	url = https://github.com/lhdjung/scrutiny
[submodule "unsum"]
	path = unsum
	url = https://github.com/lhdjung/unsum
